<a href="https://colab.research.google.com/github/Greeshmapv/Pythoncore/blob/main/oct9python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#eligible for vote
age=int(input("enter the age:"))
if age>=18:
  print("eligible to vote")
else:
  print("not eligible for vote")

enter the age:15
not eligible for vote

In [ ]:
#odd or even
number=int(input("enter the number"))
if number%2==0:
  print("number is even")
else:
  print("number is odd")

enter the number6
number is even

In [ ]:
#largest of three numbers
number1=int(input("enter first number:"))
number2=int(input("enter second number:"))
number3=int(input("enter third number:"))
if number1>number2 and number1>number3:
    print("number1 is greater")
elif number2>number1 and number2>number3:
      print("number2 is greater")


else:
  print("number3 is greater")

enter first number:6
enter second number:7
enter third number:8
number3 is greater

In [ ]:
#finding average mark of a student
Name=str(input("Enter name of student:"))
Mark1=float(input("Enter the mark of english:"))
Mark2=float(input("Enter the mark of mathematics:"))
Mark3=float(input("Enter the mark of computer science:"))
Mark4=float(input("Enter the mark of chemistry:"))
Mark5=float(input("Enter the mark of physics:"))
Total_mark=Mark1+Mark2+Mark3+Mark4+Mark5
Average=Total_mark//5
print("Total mark:",Total_mark)
print("Average mark:",Average)
if Average>90:
  print("Grade:A+")
elif Average>80:
  print("Grade:A")
elif Average>70:
  print("Grade:B")
elif Average>60:
  print("Grade:C")
elif Average>50:
  print("Grade:D")
else:
  print("failed")

Enter name of student:greeshma
Enter the mark of english:78
Enter the mark of mathematics:90
Enter the mark of computer science:89
Enter the mark of chemistry:87
Enter the mark of physics:90
Total mark: 434.0
Average mark: 86.0
Grade:A

In [ ]:
Name = input("Enter name of the consumer:")
Unit = int(input("Enter the unit:"))

if Unit <= 40:
    Bill = Unit * 1.50
    print("Bill =", Bill)
elif 41 <= Unit <= 50:
    Bill = 60 + (Unit - 40) * 3.15
    print("Bill =", Bill)
elif 51 <= Unit <= 100:
    Bill = 60 + 157.5 + (Unit - 50) * 3.95
    print("Bill =", Bill)
elif 101 <= Unit <= 150:
    Bill = 60 + 157.5 + 395 + (Unit - 100) * 5.00
    print("Bill =", Bill)
else:
    print("Unit not in any range. Please check the input.")

Enter name of the consumer:greeshma
Enter the unit:60
Bill = 257.0

In [ ]:
name=str(input("Enter your name: "))
unit=float(input("Enter the unit consumed: "))
print("Name: ",name)
if unit<=50:
  bill=unit*3.15
  print("Bill amount: ",bill)
elif (unit>50) and (unit<=100):
  y=unit-50
  bill=(50*3.15)+(y*3.70)
  print("Bill amount: ",bill)
elif (unit>100) and (unit<=150):
  y1=unit-100
  bill=(50*3.15)+(50*3.70)+(y1*4.80)
  print("Bill amount: ",bill)
elif (unit>150) and (unit<=200):
  y2=unit-150
  bill=(50*3.15)+(50*3.70)+(50*4.80)+(y2*6.40)
  print("Bill amount: ",bill)

In [ ]:
#calculating electicity bill in kerala
name = input("Enter your name: ")
unit = float(input("Enter the unit consumed: "))
print("Name:", name)

if unit <= 40:
    bill = unit * 1.50
    print("Bill amount:", bill)
elif unit <= 50:
    bill = 40 * 1.50 + (unit - 40) * 3.15
    print("Bill amount:", bill)
elif unit <= 100:
    bill = 40 * 1.50 + 10 * 3.15 + (unit - 50) * 3.95
    print("Bill amount:", bill)
elif unit <= 150:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + (unit - 100) * 5.00
    print("Bill amount:", bill)
elif unit <= 200:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + (unit - 150) * 6.80
    print("Bill amount:", bill)
elif unit <= 250:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + 50 * 6.80 + (unit - 200) * 8.00
    print("Bill amount:", bill)
elif unit <= 300:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + 50 * 6.80 + 50 * 8.00 + (unit - 250) * 6.20
    print("Bill amount:", bill)
elif unit <= 350:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + 50 * 6.80 + 50 * 8.00 + 50 * 6.20 + (unit - 300) * 7.00
    print("Bill amount:", bill)
elif unit <= 400:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + 50 * 6.80 + 50 * 8.00 + 50 * 6.20 + 50 * 7.00 + (unit - 350) * 7.35
    print("Bill amount:", bill)
else:
    bill = 40 * 1.50 + 10 * 3.15 + 50 * 3.95 + 50 * 5.00 + 50 * 6.80 + 50 * 8.00 + 50 * 6.20 + 50 * 7.00 + 50 * 7.35 + (unit - 400) * 7.60
    print("Bill amount:", bill)

Enter your name: greeshma
Enter the unit consumed: 600
Name: greeshma
Bill amount: 3826.5

In [ ]:
#find the season in a year
month = int(input("Enter the month (1-12): "))

if 3 <= month <= 5:
    season = "Spring"
elif 6 <= month <= 8:
    season = "Summer"
elif 9 <= month <= 11:
    season = "Autumn"
else:
    season = "Winter"

print("The season is", season)

Enter the month (1-12): 3
The season is Spring

In [ ]:
total_price = float(input("Enter the total price: "))

if total_price > 100:
    discount = total_price * 0.10
else:
    discount = 0

final_price = total_price - discount
print("Discount: $", discount)
print("Final Price: $", final_price)

Enter the total price: 500
Discount: $ 50.0
Final Price: $ 450.0

In [ ]:
#prime number or not
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 1
1 is not a prime number

In [ ]:
#string slicing
name="python programming"
s="welcome"
print(name)
print(name[2:7])
print(name[-9:-3])
print(name[::-1])
print(name[:-6])
print(name[2:])
print(name[:])
print(name+s)
print(s*4)
print(name[-9:3])
print(name[::-2])

python programming
thon
ogramm
gnimmargorp nohtyp
python progr
thon programming
python programming
python programmingwelcome
welcomewelcomewelcomewelcome

gimropnhy

In [ ]:
#list programming
mylist=["greeshma",23,"wayanad",500000]
print(mylist)
print(mylist[1:3])
print(mylist[0:-2])
print(mylist[-3:-1])
#nested index
print(mylist[2][1])
print(mylist[0][4])
print(mylist[2][1:5])

['greeshma', 23, 'wayanad', 500000]
[23, 'wayanad']
['greeshma', 23]
[23, 'wayanad']
a
s
ayan

In [ ]:
#tuple programming
tup=("greeshma",23,"wayanad",500000)
print(tup)
print(tup[1:3])
print(tup[-2:-1])
#nested index
print(tup[0][3])

('greeshma', 23, 'wayanad', 500000)
(23, 'wayanad')
('wayanad',)
e

In [ ]:
#set
myset={29,2,375,"oneteam",2,'a',2,'a'}
print(myset)

{'a', 2, 375, 'oneteam', 29}

In [ ]:
#dictionary
mydict={1:2,2:3,3:4,4:5}
print(mydict)
mypro={'name':'greeshma','age':23,'place':'wayanad'}
print(mypro)
print(mypro['name'])

{1: 2, 2: 3, 3: 4, 4: 5}
{'name': 'greeshma', 'age': 23, 'place': 'wayanad'}
greeshma

In [ ]:
#leap year or not
year=int(input("enter the year:"))
if year%4==0 or year%100==0 and year%400==0:
  print(year,"this  year is a leap year")
else:
  print(year,"this is not a leap year")

enter the year:2000
2000 this  year is a leap year

In [ ]:
#find the season in a year
month = int(input("Enter the month (1-12): "))

if 3 <= month <= 5:
    season = "Spring"
elif 6 <= month <= 8:
    season = "Summer"
elif 9 <= month <= 11:
    season = "Autumn"
else:
    season = "Winter"

print("The season is", season)

Enter the month (1-12): 1
The season is Winter

In [ ]:
number=int(input("enter a number:"))
if number>0:
  print("number is positive")
elif number<0:
  print("number is negative")
else:
  print("number is zero")

enter a number9
number is positive

In [ ]:
temp=float(input("enter the temperature in degrees fahrenheit"))
if temp>=70:
  print("wear shirts and shots")
elif temp>59 and temp<69:
  print("wear jeans and light jacket")
else:
  print("wear heavy coat and warm pants")

enter the temperature in degrees fahrenheit67
wear jeans and light jacket

In [ ]:
#type conversion
a=10
print(type(a))
s=str(a)
print(type(s))
print(s)

<class 'int'>
<class 'str'>
10

In [ ]:
#type conversion
my_list=[1,"greeshma",'A',260000]
print(my_list)
print(type(my_list))
my_tup=(tuple(my_list))
print(my_tup)
print(type(my_tup))

[1, 'greeshma', 'A', 260000]
<class 'list'>
(1, 'greeshma', 'A', 260000)
<class 'tuple'>

In [ ]:
#while loop
count=1
while(count<=50):
  print("The count value is:",count)
  count+=1

The count value is: 1
The count value is: 2
The count value is: 3
The count value is: 4
The count value is: 5
The count value is: 6
The count value is: 7
The count value is: 8
The count value is: 9
The count value is: 10
The count value is: 11
The count value is: 12
The count value is: 13
The count value is: 14
The count value is: 15
The count value is: 16
The count value is: 17
The count value is: 18
The count value is: 19
The count value is: 20
The count value is: 21
The count value is: 22
The count value is: 23
The count value is: 24
The count value is: 25
The count value is: 26
The count value is: 27
The count value is: 28
The count value is: 29
The count value is: 30
The count value is: 31
The count value is: 32
The count value is: 33
The count value is: 34
The count value is: 35
The count value is: 36
The count value is: 37
The count value is: 38
The count value is: 39
The count value is: 40
The count value is: 41
The count value is: 42
The count value is: 43
The count value is: 44
The count value is: 45
The count value is: 46
The count value is: 47
The count value is: 48
The count value is: 49
The count value is: 50

In [ ]:
#even numbers
count=2
while(count<=50):
  print("the value is",count)
  count+=2

the value is 2
the value is 4
the value is 6
the value is 8
the value is 10
the value is 12
the value is 14
the value is 16
the value is 18
the value is 20
the value is 22
the value is 24
the value is 26
the value is 28
the value is 30
the value is 32
the value is 34
the value is 36
the value is 38
the value is 40
the value is 42
the value is 44
the value is 46
the value is 48
the value is 50

In [ ]:
#multiplication table
number=int(input("enter the number:"))
print("multiplication table")
count=1
while(count<=10):
  result=count*number
  print(count,"*",number,"=",result)
  count+=1

enter the number:7
multiplication table
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [ ]:
#sum of the even numbers
limit=int(input("enter the limit:"))
number=2
sum=0
while number<=limit:
    sum=sum+number
    number+=2
print("the sum of even number is",limit,"=",sum)

enter the limit:10
the sum of even number is 10 = 30

In [ ]:
#product of the even numbers
limit=int(input("enter the limit:"))
number=2
product=1
while number<=limit:
    product=product*number
    number+=2
print("the product of even number is=",product)

enter the limit:3
the product of even number is= 2

In [ ]:
#sum of natural numbers
limit=int(input("enter the limit:"))
number=1
sum=0
while number<=limit:
  sum=sum+number
  number+=1
print("the sum of natural number is =",sum)

enter the limit:3
the sum of natural number is = 6

In [ ]:
#factorial
num=int(input("enter the number:"))
#factorial=1
if num<=0:
  print("negative number does't have factorial")
elif num==0:
  print("factorial of zero is one")
else:
  factorial=1
  i=1
  while i <= num:
        factorial *= i
        i += 1
  print("The factorial of", num, "is:", factorial)

enter the number:6
The factorial of 6 is: 720

In [ ]:
i=1
while i<=10:
  if i==5:
    break
  print(i)
  i+=1

1
2
3
4

In [ ]:
#sum of digits
num = int(input("Enter a number: "))
sum_of_digits = 0
while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num //= 10
print("The sum of the digits is:", sum_of_digits)

Enter a number: 12
The sum of the digits is: 3

In [ ]:
count=0
while(count<=10):
  count+=1
  if(count==5):
    continue
  print(count)

1
2
3
4
6
7
8
9
10
11

In [ ]:
#continue
var=10
while(var>0):
  var=var-1
  if(var==5):
    continue
  print("the count is",var)
print("thank you")

the count is 9
the count is 8
the count is 7
the count is 6
the count is 4
the count is 3
the count is 2
the count is 1
the count is 0
thank you

In [ ]:
#break
var=10
while(var>0):
  var=var-1
  if(var==5):
    break
  print("the count is",var)
print("thank you")

the count is 9
the count is 8
the count is 7
the count is 6
thank you

In [ ]:
#pass
var=10
while(var>0):
  var=var-1
  if(var==5):
    pass
  print("the count is",var)
print("thank you")

the count is 9
the count is 8
the count is 7
the count is 6
the count is 5
the count is 4
the count is 3
the count is 2
the count is 1
the count is 0
thank you

In [ ]:
#for loop
mylist=["greeshma",23,"wayanad"]
for i in mylist:
  print(i)

greeshma
23
wayanad

In [ ]:
for i in "oneteam":
  print(i)

o
n
e
t
e
a
m

In [ ]:
number=int(input("enter the  number:"))
factorial=1
if number<0:
  print("negative number does't have factorial")
elif number==0:
  print("factorial of zero is one")
else:
  for i in range(1,number+1):
    factorial=factorial*i
  print("factorial is",factorial)

enter the  number:0
factorial of zero is one

In [ ]:
#reversing list
original_list=["greeshma",23,"wayanad"]
reversed_list=[]
for item in original_list:
  reversed_list.insert(0,item)
print(reversed_list)
print(original_list)

['wayanad', 23, 'greeshma']
['greeshma', 23, 'wayanad']

In [ ]:
#Python program to count the occurrences of each element in a list
numbers=[1,2,3,6,2,5,1,4,1]
count={}
for num in numbers:
  if num in count:
    count[num]+=1
  else:
    count[num]=1

print(count)

{1: 3, 2: 2, 3: 1, 6: 1, 5: 1, 4: 1}

In [ ]:
#palindrome or not
word=str(input("Enter the word: "))
#word="malayalam"
rev=""
for i in word:
  rev=i+rev
if(word==rev):
  print(word,"is palindrome")
else:
  print(word,"is not palindrome")

Enter the word: greesh
greesh is not palindrome

In [ ]:
num=int(input("enter a number:"))
square=num*num
num_str=str(num)
square_str=str(square)
if square_str.endswith(num_str):
  print("automorphic")
else:
  print("not automorphic")

enter a number25
automorphic

In [ ]:
num=int(input("enter a number:"))
cube=num**3
num_str=str(num)
cube_str=str(cube)
if cube_str.endswith(num_str):
  print("trimorphic")
else:
  print("not trimorphic")

enter a number:6
trimorphic

In [ ]:
num=int(input("enter the number:"))
square=num**2
cube=num**3
smod=pow(10,len(str(num)))
cmod=pow(10,len(str(num)))
if square%smod==num:
  print("automorphic")
else:
  print("not automorphic")
if cube%cmod==num:
  print("trimorphic")
else:
  print("not trimorphic")

enter the number:5
automorphic
trimorphic

In [ ]:
num=int(input("enter a number:"))
square=num**2
cube=num**3
num_str=str(num)
square_str=str(square)
cube_str=str(cube)
if square_str.endswith(num_str):
  print("automorphic")
else:
  print("not automorphic")
if cube_str.endswith(num_str):
  print("trimorphic")
else:
  print("not trimorphic")

enter a number:7
not automorphic
not trimorphic

In [ ]:
#calculator program
while True:
    print("enter '1' for addition")
    print("enter '2' for subtraction")
    print("enter '3' for multiplication")
    print("enter '4' for division")
    print("enter '5' to end the program")
    user_input = input(": ")
    if user_input == "5":
        break
    elif user_input in ["1", "2", "3", "4"]:
        num1 = float(input("enter the first number: "))
        num2 = float(input("enter the second number: "))
        if user_input == "1":
            print("result:", num1 + num2)
        elif user_input == "2":
            print("result:", num1 - num2)
        elif user_input == "3":
            print("result:", num1 * num2)
        elif user_input == "4":
            if num2 == 0:
                print("division by zero is not allowed")
            else:
                print("result:", num1 / num2)
    else:
        print("invalid input")

Options:
Enter '1' for addition
Enter '2' for subtraction
Enter '3' for multiplication
Enter '4' for division
Enter '5' to end the program
: 1
Enter the first number: 4
Enter the second number: 4
Result: 8.0
Options:
Enter '1' for addition
Enter '2' for subtraction
Enter '3' for multiplication
Enter '4' for division
Enter '5' to end the program
: 2
Enter the first number: 4
Enter the second number: 5
Result: -1.0
Options:
Enter '1' for addition
Enter '2' for subtraction
Enter '3' for multiplication
Enter '4' for division
Enter '5' to end the program
: 3
Enter the first number: 2
Enter the second number: 5
Result: 10.0
Options:
Enter '1' for addition
Enter '2' for subtraction
Enter '3' for multiplication
Enter '4' for division
Enter '5' to end the program
: 5

In [ ]:
#enter sides
s1=int(input("Enter side1:"))
s2=int(input("Enter side2:"))
s3=int(input("Enter side3:"))

#calculate square of sides
sq_s1=s1**2
sq_s2=s2**2
sq_s3=s3**2

#give conditions for right,acute and obtuse angled triangles
if(sq_s1 == sq_s2+sq_s3) or (sq_s2 == sq_s1+sq_s3) or (sq_s3==sq_s1+sq_s2):
  print("The triangle is right-angled traingle")
elif(sq_s1 > sq_s2+sq_s3) or (sq_s2 > sq_s1+sq_s3) or (sq_s3 > sq_s1+sq_s2):
  print("The triangle is obtuse-angled traingle")
elif(sq_s1 < sq_s2+sq_s3) or (sq_s2 < sq_s1+sq_s3) or (sq_s3 < sq_s1+sq_s2):
  print("The triangle is acute-angled traingle")
else:
  print("Invalid input")

Enter side1:5
Enter side2:7
Enter side3:3
The triangle is obtuse-angled traingle

In [ ]:
#display choices
print("Enter:\n\n1. Addition\n2. Subtraction\n3. Multiplication\n4. Division\n5. Modulo\n")

#enter values
num1=float(input("Enter the number1:"))
num2=float(input("Enter the number2:"))
#enter operation to be performed
operation = input("Enter your choice: ")
result=0
#give condtions based on choice
if(operation=="1"):
  result=num1+num2
elif(operation=="2"):
  result=num1-num2
elif(operation=="3"):
  result=num1*num2
elif(operation=="4"):
  result=num1/num2
elif(operation=="5"):
  result=num1%num2
else:
  print("Input is invalid")

  #display answer
print("Answer is:",result)

Enter:

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulo

Enter the number1:1
Enter the number2:6
Enter your choice: 2
Answer is: -5.0

In [ ]:
#checking if it is right angled traingle or not
angle1=int(input("enter three angles"))
angle2=int(input())
angle3=int(input())
sum=angle1+angle2+angle3
if sum==180:
  if angle1==90 or angle2==90 or angle3==90:
    print("it is a right angled traingle")
  else:
    print("it is not right angled traingle")
else:
  print("it is not right angled traingle")

enter three angles50
90
40
it is a right angled traingle

In [ ]:
#string bulit in functions
my_string="python pogramming"
print(len(my_string))#to find the length of a string
print(my_string.upper())#to convert to uppercase
print(my_string.lower())#to convert to lowercase
print(my_string.capitalize())#to capitalize the first letter
s="hello,hello,hello,world"
count=s.count("hello")
print(count)
string="hello,world"
new_string=string.replace("hello","hi")
print(new_string)
string_new="apple,banana,orange"
fruits=string_new.split()
print(fruits)

17
PYTHON POGRAMMING
python pogramming
Python pogramming
3
hi,world
['apple,banana,orange']

In [ ]:
#list built-in function
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)
my_list.extend([6,7,8])
print(my_list)
my_list.remove(2)
print(my_list)
my_list.pop()
print(my_list)
my_list.pop(4)
print(my_list)
s=my_list.index(3)
print(s)
count=my_list.count(4)
print(count)
new_list=[29,89,13,45]
new_list.sort()
print(new_list)
new_list.sort(reverse=True)
print(new_list)
new_list.reverse()
print(new_list)
new_list.clear()
print(new_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 4, 5, 6, 7, 8]
[1, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 7]
1
1
[13, 29, 45, 89]
[89, 45, 29, 13]
[13, 29, 45, 89]
[]

In [ ]:
new_tuple=(2,4,7,2)
print(new_tuple)
s=new_tuple.index(4)
print(s)
s=new_tuple.count(2)
print(s)

(2, 4, 7, 2)
1
2

In [ ]:
limit=int(input("Enter the limit:"))
my_list=[]


for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)

num=int(input("Enter the number to search:"))

print("Calculate the count")
count=0

for n in my_list:
  if(n==num):
    count+=1
print(num,"comes from",count,"times")

Enter the limit:4
Enter the numbers:1
Enter the numbers:2
Enter the numbers:1
Enter the numbers:5
Enter the number to search:1
Calculate the count
1 comes from 2 times

In [ ]:
my_list=[65,78,23,34,89,45,56]

i=0
big_num=my_list[0]
sec_big=my_list[1]

while(i<len(my_list)):
  if my_list[i]>big_num:
    sec_big=big_num
    big_num=my_list[i]
  i+=1

print("Biggest number:",big_num)
print("Second biggest number:",sec_big)

Biggest number: 89
Second biggest number: 78

In [ ]:
#set inbulit fuctions
my_set={1,2,3,4,5}
my_set.add(6)
print(my_set)
my_set.update([7,8])
print(my_set)
my_set.remove(5)
print(my_set)
my_set.discard(6)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 4, 7, 8}

In [ ]:
#dictionary
my_dict={1:1,2:4,3:9,4:16}
print(my_dict)
print(my_dict[3])
my_dict[3]=90#update
print(my_dict)
my_dict[5]=25#add
print(my_dict)
del my_dict[3]#delete
print(my_dict)
k=my_dict.keys()
v=my_dict.values()
i=my_dict.items()
print(k)
print(v)
print(i)

{1: 1, 2: 4, 3: 9, 4: 16}
9
{1: 1, 2: 4, 3: 90, 4: 16}
{1: 1, 2: 4, 3: 90, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
dict_keys([1, 2, 4, 5])
dict_values([1, 4, 16, 25])
dict_items([(1, 1), (2, 4), (4, 16), (5, 25)])

In [ ]:
my_dict={'name':'john','age':30,'city':'new york'}#creating dictionary
print(my_dict['name'])#accessing values
my_dict['age']=31
print(my_dict)
my_dict['occupation']='Engineer'
print(my_dict)
del my_dict['city']
print(my_dict)
keys_list=my_dict.keys()
values_list=my_dict.values()
items_items=my_dict.items()
print(keys_list)
print(values_list)
print(items_items)
value=my_dict.get('age','N/A')
print(value)
value=my_dict.get('salary','N/A')
print(value)
removed_value=my_dict.pop('age')
print(removed_value)
print(my_dict)
removed_item=my_dict.popitem()
print(removed_item)
print(my_dict)
my_dict.clear()
print(my_dict)
my_dict.update({'country':'USA','age':30})
print(my_dict)

john
{'name': 'john', 'age': 31, 'city': 'new york'}
{'name': 'john', 'age': 31, 'city': 'new york', 'occupation': 'Engineer'}
{'name': 'john', 'age': 31, 'occupation': 'Engineer'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['john', 31, 'Engineer'])
dict_items([('name', 'john'), ('age', 31), ('occupation', 'Engineer')])
31
N/A
31
{'name': 'john', 'occupation': 'Engineer'}
('occupation', 'Engineer')
{'name': 'john'}
{}
{'country': 'USA', 'age': 30}

In [ ]:
#1 write a python program to output welcome to python
print("welcome to python")

welcome to python

In [ ]:
#2 write a python program to declare multiple variables in a single line
a,b,c=1,2,3
#print(a," ",b," ",c)
print("\n",a,"\n",b,"\n",c)
name,age,place="greeshma",23,"mananthavady"
print("\n name=",name,"\n","age=",age,"\n","palace=",place)

 1
 2
 3

 name= greeshma
 age= 23
 palace= mananthavady

In [ ]:
#3 write a python program with legal and illegal variable
name="greeshma"
#1name="greeshma"
print(name)
#print(1name)

greeshma

In [ ]:
#4 write a python program to combine two variables
a="greeshma "
b="p v"
print(a+b)
str1=input("enter the first name:")
str2=input("enter the second name: ")
print(str1+str2)
num1=12
num2=15
sum=num1+num2
print("sum=",sum)

greeshma p v
enter the first name:greeshma
enter the second name: p v
greeshma p v
sum= 27

In [ ]:
# 5. write a program to get the data type of an object
a=10
b="greeshma"
list=[12,"greeshma","mananthavady"]
print(type(a))
print(type(b))
print(type(list))

<class 'int'>
<class 'str'>
<class 'list'>

In [ ]:
#6.write a program to input multiline string

In [ ]:
#7.write a program to convert one data type into other
a=10
b="310"
print(type(a))
print(type(b))
c=str(a)
d=int(b)
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
#8.write a program to input a string
string=input("enter the string:")
print(string)

enter the stringhello,welcome
hello,welcome

In [ ]:
#9 string slicing
str2="communication"
print(str2[0])
print(str2[1])
print(str2[-1])
print(str2[-4])
print(str2[2:12:3])
print(str2[3:9:2])
print(str2[::3])
print(str2[::2])
print(str2[::-2])#takes from the reverse order
print(str2[::-1])

c
o
n
t
mnao
mnc
cmitn
cmuiain
niaiumc
noitacinummoc

In [ ]:
#10. write a program to generate random numbers

In [ ]:
#11. Write a python program to use the isalnum method
str1="hello15"
str2="hello"
str3="hello 12"
print(str1.isalnum())
print(str2.isalnum())
print(str3.isalnum())

True
True
False

In [ ]:
#12. convert a string to a lower
str1="GREESHMA"
print(str1.lower())
#13.Write a python program to use capitalize method
str2="greeshma"
print(str2.capitalize())
#14.remove white spaces from the beginning of a string
str3=" greeshma"
print(str3)
print(str3.strip())

greeshma
Greeshma
 greeshma
greeshma

In [ ]:
#15.Write a python program to use ends with the method
str="hello,welcome to python"
print(str.endswith("python"))
print(str.endswith("hello"))
print(str.endswith("n"))
print(str.endswith("o"))

True
False
True
False

In [ ]:
#16. write a program to check whether a certain character or phrase is present in a string or not
str="hello,welcome to python"
print("hello" in str)
print("welcome" in str)
print("hi" in str)

True
True
False

In [ ]:
#17. write a program to find the length of a string
str="hello,welcome to the world"
print(len(str))
#18. write a program to split the strings into substrings
str1="hello,welcome to python"
print(str1.split())
str3="hello,welcome,to python"
print(str3.split(","))

26
['hello,welcome', 'to', 'python']
['hello', 'welcome', 'to python']

In [ ]:
#19. Write a python program to use the case fold method
str="Welcome To The World Of Python"
print(str.casefold())

welcome to the world of python

In [ ]:
#20. write a program to replace a string with other Get the first character of the string txt. txt = "Welcome to python"
txt="Welcome to python"
print(txt.replace("W","M"))

Melcome to python

In [ ]:
#21.Get the characters from index 2 to index 4
txt="Welcome to python"
print(txt[2:5])

lco

In [ ]:
#22.Return the string without any whitespace at the beginning and the end.
txt = " Welcome to python "
print(txt)
print(txt.strip())

 Welcome to python
Welcome to python

In [ ]:
#23.Using the type() function assign the type of the variable to answer_1, then print it.
txt="welcome to python"
answer_1=type(txt)
print(txt)
print(answer_1)
#24.
men_stepped_on_the_moon=12
answer_1=type(men_stepped_on_the_moon)
print(answer_1)
#25.
str="It's always darkest before dawn."
answer_1=type(str)
print(answer_1)

welcome to python
<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
#26 replace
txt="welcome to python."
print(txt.replace(".","!"))

welcome to python!

In [ ]:
#27.28
str="EVERY Strike Brings Me Closer to the Next Home run."
print(str.lower())

every strike brings me closer to the next home run.

In [ ]:
#29.Make the string so that everything is properly and the first letter is capital
str=" there are no traffic JamS Along with The extra "
print(str.strip().capitalize())

There are no traffic jams along with the extra

In [ ]:
#30.Print the types of two given variables with the print function.
v_1="1"
v_2=1
print(type(v_1))
print(type(v_2))

<class 'str'>
<class 'int'>

In [ ]:
#31. What is the length of the given string?
str="1.975.000"
print(len(str))

9

In [ ]:
#32. write a program To check whether a character is a numeric character or not,
character="23"
print(character.isdigit())

True

In [ ]:
#33.Perform comparison operations
X=5
Y=6
print(X==Y)
print(X>Y)
print(X<Y)
print(X>=Y)
print(X<=Y)
print(X!=Y)

False
False
True
False
True
True

In [ ]:
#34. write a python program using the not in operator
str="hi,welcome to python"
print("hello" not in str)

True

In [ ]:
#35. write a python program using "is"operator
x="welcome"
y="welcome"
print(x is y)
#36. write a python program using is not operator
print(x is not y)

True
False

In [ ]:
#37 arithmetic operator
X=10
Y=3
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X//Y)
print(X**Y)

13
7
30
3.3333333333333335
3
1000

In [ ]:
#38. Print 1-500 using while loops
i=1
while i<=500:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
#39. Write a program using the if,elif, and else statement
number=int(input("enter a number:"))
if number>0:
  print(number,"is greater than zero")
elif number<0:
  print(number,"is less than zero")
else:
  print("number is zero")

enter a number:-3
-3 is less than zero

In [ ]:
#40. Use continue statement in while loops
i=0
while i<10:
  i+=1
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#41. Use break statement in while loops
i=0
while i<=10:
  if i==5:
    break
  print(i)
  i+=1

0
1
2
3
4

In [ ]:
#42 create a list with
x=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True,False,10,20,10.5]
print(x[0])
print(x[5])
print(x[-1])
print(x[-2])
print(x[3:10])
print(x[2:11])
print(x[::9])
print(x[4::])
print(x[2:10:2])
print(x[1:11:3])
print(x[::3])
print(x[::-2])
print(x[::-1])

apple
tomato
10.5
20
['grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True]
['cherry', 'grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True, False]
['apple', True]
['kiwi', 'tomato', 'mango', 'orange', 'banana', True, False, 10, 20, 10.5]
['cherry', 'kiwi', 'mango', 'banana']
['banana', 'kiwi', 'orange', False]
['apple', 'grapes', 'mango', True, 20]
[10.5, 10, True, 'orange', 'tomato', 'grapes', 'banana']
[10.5, 20, 10, False, True, 'banana', 'orange', 'mango', 'tomato', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [ ]:
#43. write a python program to create a new list
my_list=[1,"greeshma","manathavady"]
print(my_list)
#44. .write a program to retrieve the first item from a list
print(my_list[0])
#45. write a program to determine the length of a list
print(len(my_list))
#46. .write a python program to change the first item in a list
my_list[0]=2
print(my_list)
#47. write a python program using negative indexing
print(my_list[-2:-1])
#48. write a program to add a new item to the end of a list
my_list.append("wayanad")
print(my_list)
#49. create a list and display the list in reverse order
print(my_list[::-1])

[1, 'greeshma', 'manathavady']
1
3
[2, 'greeshma', 'manathavady']
['greeshma']
[2, 'greeshma', 'manathavady', 'wayanad']
['wayanad', 'manathavady', 'greeshma', 2]

In [ ]:
#50. write a program to find the maximum value in a list
my_list=[10,20,30,40,15]
#s=my_list.sort()
#print(s)
print(max(my_list))

40

In [ ]:
#51. write a program to display the index of an element in a list
my_list=[10,20,30,40]
print(my_list.index(40))

3

In [ ]:
#52. write a program to count the occurrence of an Element in a list
limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
num=int(input("Enter the number to search:"))
print("Calculate the count")
count=0
for numbers in my_list:
  if(numbers==num):
    count+=1
print(num,"comes from",count,"times")

Enter the limit:3
Enter the numbers:1
Enter the numbers:2
Enter the numbers:1
Enter the number to search:4
Calculate the count
4 comes from 0 times

In [ ]:
#53.create a nested list and display each item from the list
my_list=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in my_list:
  for item in sublist:
    print(item)

1
2
3
4
5
6
7
8
9

In [ ]:
#54.Based on a list of fruits, create a new list, containing only the fruits with the letter "a" in the name.

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
my_list=[]
for i in fruits:
  if "a" in i:
    my_list.append(i)
print(my_list)

['apple', 'banana', 'mango']

In [ ]:
#55. fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Only accept items that are not "kiwi"
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
my_list=[]
for i in fruits:
  if i!="kiwi":
     my_list.append(i)
print(my_list)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#56 fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Set the values in the new list to upper case
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
my_list=[]
for i in fruits:
  my_list.append(i.upper())
print(my_list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#57. create a list and iterate over the list
my_list=[1,2,3,4]
for i in my_list:
  print(i)

1
2
3
4

In [ ]:
#58. write a program using for loop with a break statement
for i in range(2,10):
  if i==6:
    break
  print(i)

2
3
4
5

In [ ]:
#59. write a program using for loop with a continue statement
for i in range(2,10):
  if i==6:
    continue
  print(i)

2
3
4
5
7
8
9

In [ ]:
#60. write a program using range function with starting parameter and increment parameter
for i in range(2,20,3):
  print(i)

2
5
8
11
14
17

In [ ]:
#61. write a program to create a tuple
tuple=(2,6,8,10)
print(tuple)
#62. write a program to get the length of a tuple
print(len(tuple))
#63. write a program to return the data type of a tuple
print(type(tuple))

(2, 6, 8, 10)
4
<class 'tuple'>

In [ ]:
#64. create a tuple with items kiwi, orange, grapes, apple,
tup=("kiwi","orange","grapes","apple")
#65. then add a new item (melon) to the first index
new_tup=list(tup)
print(tup)
print(new_tup)
new_tup.insert(1,"melon")
#66. write a program to append an item to the tuple
new_tup.append("bananna")
#67. write a program to remove an item from a tuple
new_tup.remove("grapes")
print(new_tup)
tup=tuple(new_tup)
print(tup)

('kiwi', 'orange', 'grapes', 'apple')
['kiwi', 'orange', 'grapes', 'apple']
['kiwi', 'melon', 'orange', 'apple', 'bananna']
('kiwi', 'melon', 'orange', 'apple', 'bananna')

In [ ]:
#68. write a program to concatenate two tuples
my_tup1=(1,2,3,4)
my_tup2=(5,6,7,8)
print(str(my_tup1))
print(str(my_tup2))
new=my_tup1+my_tup2
print(new)

(1, 2, 3, 4)
(5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#69. write a program to extract the values from a tuple into variables
my_tuple=(20,30,40)
var1,var2,var3=my_tuple
print(var1)
print(var2)
print(var3)

20
30
40

In [ ]:
#70. extract values from tuple using Asterix
my_tup=(20,30,40,50,60,70)
var1,var2,*rest_values=my_tup
print(var1)
print(var2)
print(rest_values)

20
30
[40, 50, 60, 70]

In [ ]:
#71. count the number of occurrences of an item in a tuple
my_tup=(1,2,3,1,6,2,5,2)
num=int(input("enter the number to search"))
count=my_tup.count(num)
print("The number",num,"occurs",count,"times")

enter the number to search2
The number 2 occurs 3 times

In [ ]:
#72remove items from a tuple by using merge with +Character

In [ ]:
#73. slice a tuple using start-stop, step parameter
my_tuple=(1,2,3,4,5,6,7,8,9)
print(my_tuple[1:7:2])
#74. slice a tuple with step parameter is negative
print(my_tuple[-1:-6:-2])
#75. returns a tuple with a jump every 3 times
print(my_tuple[::3])
#76. find the maximum value in a tuple
print(max(my_tuple))
#77. Find min value in a tuple
print(min(my_tuple))
#78. find the sum of items in a tuple
sum_of_items=sum(my_tuple)
print(sum_of_items)
#79. write a program to find the index of an item
print(my_tuple.index(3))

(2, 4, 6)
(9, 7, 5)
(1, 4, 7)
9
1
45
2

In [ ]:
#81. write a program to create a set
my_set={1,2,3,4,5,6}
#80. write a program to find the length of a set
print(len(my_set))
#82. write a program to remove an item from the set using the remove method
my_set.remove(3)
print(my_set)

6
{1, 2, 4, 5, 6}

In [ ]:
#83. write a program to add items from one set to another
set1={1,2,3,4,5}
set2={6,7,8,9}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#84. write a program to join two sets
set1={1,2,3,4,5}
set2={'a','b','c'}
set3=set1.union(set2)
print(set3)
#85. write a program to remove an item from the set using the discard method
set3.discard('a')
print(set3)
#86. write a program to add an item to a set
set3.add('d')
print(set3)

{1, 2, 3, 4, 5, 'c', 'a', 'b'}
{1, 2, 3, 4, 5, 'c', 'b'}
{1, 2, 3, 4, 5, 'c', 'b', 'd'}

In [ ]:
#87. write a program using the symmetric difference method
x={1,2,3,4,5}
y={5,6,7,8}
z=x.symmetric_difference(y)
print(z)
#88. write a program using the intersection update method
x.intersection_update(y)
print(x)

{1, 2, 3, 4, 6, 7, 8}
{5}

In [ ]:
#89. Write a Python script to add a key to a dictionary
dict1={1:5,2:10}
dict1.update({3:15})
print(dict1)

{1: 5, 2: 10, 3: 15}

In [ ]:
#90. Write a Python script to check whether a given key already exists in a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
key= input("Enter the key to check: ")
if key in my_dict:
    print("The key",key,"exists in the dictionary.")
else:
    print("The key",key,"does not exist in the dictionary.")

Enter the key to check: 1
The key 1 does not exist in the dictionary.

In [ ]:
#91.Write a Python program to get the key, value, and item in a dictionary.
mydict={'name': 'greeshma', 'age': 23, 'city': 'mndy'}
k=mydict.keys()
v=mydict.values()
i=mydict.items()
print(k)
print(v)
print(i)

dict_keys(['name', 'age', 'city'])
dict_values(['greeshma', 23, 'mndy'])
dict_items([('name', 'greeshma'), ('age', 23), ('city', 'mndy')])

In [ ]:
#92. print the value of the "model" key of the car dictionary using the get method car = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "Ford","model": "Mustang","year": 1964}
print(car)
val=car.get("model")
print("value of model key is:",val)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
value of model key is: Mustang

In [ ]:
#93. Change the "year" value from 1964 to 2020. in the above dictionary
car["year"]=2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#94. Write a Python program to remove a key from a dictionary.
car = {"brand": "Ford","model": "Mustang","year": 1964}
car1=car.pop("model")
print(car)
del car["year"]
print(car)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}

In [ ]:
#95.create a dictionary using dict constructor
dict1={}
mydict={2:4,4:8,8:16,16:32}
print("without using constructor",mydict)
dict1=dict(mydict)
print("using constructor:",dict1)

without using constructor {2: 4, 4: 8, 8: 16, 16: 32}
using constructor: {2: 4, 4: 8, 8: 16, 16: 32}

In [ ]:
#96. write a program with a dictionary update method
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.update({"color":"Black"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [ ]:
#97. write a program to remove the last inserted item from a dictionary
mydict={'name': 'greeshma', 'age': 23, 'city': 'mndy'}
print(mydict)
result=mydict.popitem()
print(mydict)

{'name': 'greeshma', 'age': 23, 'city': 'mndy'}
{'name': 'greeshma', 'age': 23}

In [ ]:
#98. write a program to empty a dictionary
mydict={'name': 'greeshma', 'age': 23, 'city': 'mndy'}
print(mydict)
mydict.clear()
print(mydict)

{'name': 'greeshma', 'age': 23, 'city': 'mndy'}
{}

In [ ]:
#99. write a program to copy a dictionary
mydict={'name': 'greeshma', 'age': 23, 'city': 'mndy'}
print("original dictionary:",mydict)
dicts=dict(mydict)
print("copied dictionary:",dicts)

original dictionary: {'name': 'greeshma', 'age': 23, 'city': 'mndy'}
copied dictionary: {'name': 'greeshma', 'age': 23, 'city': 'mndy'}

In [ ]:
#factorial using function
#factorial
def factorial():
  num=int(input("enter the number:"))
#factorial=1
  if num<=0:
    print("negative number does't have factorial")
  elif num==0:
    print("factorial of zero is one")
  else:
    factorial=1
    i=1
  while i <= num:
        factorial *= i
        i += 1
  print("The factorial of", num, "is:", factorial)
factorial()

enter the number:5
The factorial of 5 is: 120

In [ ]:
#default argument
def sum(a,b):
  c=a+b
  return c
sum(10,20)

30

In [ ]:
#keyword parameter passing
def sum(a=10,b=20):
  c=a+b
  return c
sum()

30

In [ ]:
#aribitary argument parameter passing
def sum(*a):
  print(a)
sum(10,20,30,40)

(10, 20, 30, 40)

In [ ]:
#reference parameter passing
def sum(a):
  print(a)
s=10
sum(s)

10

In [ ]:
#keyword aribitary parameter passing
def word(**x):
  print(x)
word(name="greeshma",age="23")

{'name': 'greeshma', 'age': '23'}

In [ ]:
#100.create and call a function
def function():
  print("hello welcome to python")
function()

hello welcome to python

In [ ]:
#101.create function with aribitary argument
def sum(*a):
  print(a)
sum(2,5,8,9)

(2, 5, 8, 9)

In [ ]:
#103. create a function with a return statement
def function(a,b):
  c=a+b
  return c
function(10,20)

30

In [ ]:
#104. create a function with a default parameter value
def sum(a,b):
  c=a+b
  print(c)
sum(10,20)

30

In [ ]:
#Write a Python program that includes functions to convert temperatures between Celsius and Fahrenheit.
def faren(temp1):
  faren1=(temp1 * 1.8) + 32
  print(faren1)

def cel(temp2):
  cels=(temp2-32)*(5/9)
  print(cels)
choice=int(input("Enter choice 1.farenheit 2.celsius:"))

if(choice==1):
  temp1=float(input("Enter temperature in celsius:"))
  faren(temp1)

elif(choice==2):
  temp2=float(input("Enter temperature in farenheit:"))
  cel(temp2)

else:
  print("No input")

Enter choice 1.farenheit 2.celsius:1
Enter temperature in celsius:90
194.0

In [ ]:
#palindrome
def pal(str1):
  str2=""
  for i in str1:
    str2=i+str2
  if(str1==str2):
    print(str1,"is a palindrome string")
  else:
    print(str1,"not a palindrome string")

str1=str(input("Enter the string:"))
pal(str1)

Enter the string:malayalam
malayalam is a palindrome string

In [ ]:
#3.
def sums(my_list):
  sum=0
  for x in my_list:
    sum=sum+x
  print("Sum of values in list:",sum)

limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
print(my_list)
sums(my_list)

Enter the limit:5
Enter the numbers:1
Enter the numbers:2
Enter the numbers:3
Enter the numbers:4
Enter the numbers:5
[1, 2, 3, 4, 5]
Sum of values in list: 15

In [ ]:
#duplicate
def dupli(my_list):
  list1=[]
  for i in my_list:
    if(i not in list1):
      list1.append(i)
  print("After removing duplicates:",list1)

limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
print("Original list:",my_list)
dupli(my_list)

Enter the limit:5
Enter the numbers:4
Enter the numbers:5
Enter the numbers:6
Enter the numbers:7
Enter the numbers:2
Original list: [4, 5, 6, 7, 2]
After removing duplicates: [4, 5, 6, 7, 2]

In [ ]:
#count
def counts(str1):
  str2=str1.split(" ")
  print("No of words:",len(str2))

str1=str(input("Enter the sentence:"))
counts(str1)

Enter the sentence:hello
No of words: 1

In [ ]:
#1.arbitoryarg
def add(*n):
  s=0
  for x in n:
    s=s+x
    return s
p=add(10,20,30)
print("Sum is ",p)
q=add(10,20,30,40,50)
print("Sum is ",q)
r=add(25.5,36.6,42.7,52.8)
print("Sum is ",r)

Sum is  10
Sum is  10
Sum is  25.5

In [ ]:
#2.auto_trimorphic.py
num=int(input("Enter the number : "))
print("Menu")
print("1.Automorphic")
print("2.Trimorphic")
choice=int(input("Enter your choice : "))
l=len(str(num))
if choice==1:
	sq=num**2
	if sq%(10**l)==num:
		print(num," is automorphic")
	else:
		print(num," is not automorphic")
elif choice==2:
	cb=num**3
	if cb%(10**l)==num:
		print(num," is trimorphic")
	else:
		print(num," is not trimorphic")
else:
	print("Invalid choice!!!")

Enter the number : 5
Menu
1.Automorphic
2.Trimorphic
Enter your choice : 1
5  is automorphic

In [ ]:
#3.big3elif.py
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if a>b and a>c:
	big=a
elif b>a and b>c:
	big=b
else:
	big=c
print("Biggest is ",big)

enter the first number4
enter the second number7
enter the third number3
Biggest is  7

In [ ]:
#4.bigifelse.py
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
if a>b:
	big=a
else:
	big=b
print("Biggest is : ",big)

Enter the first number5
Enter the second number7
Biggest is :  7

In [ ]:
#5.biglist.py
a=[]
n=int(input("Enter the limit array :"))
print("Enter the elements : ")
for i in range(0,n):
	no=int(input())
	a.append(no)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
if big==a[0]:
	sbig=a[1]
else:
	sbig=a[0]
for i in range(0,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Second largest is : ",sbig)

Enter the limit array :5
Enter the elements :
1
3
5
1
7
Second largest is :  5

In [ ]:
#6.bignestedif.py
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
if a>b:
	if a>c:
		big=a
	else:
		big=c
else:
	if b>c:
		big=b
	else:
		big=c
print("Biggest is : ",big)

Enter the first number6
Enter the second number5
Enter the third number7
Biggest is :  7

In [ ]:
#7.bigsimif.py
a=int(input("Enter a number"))
b=int(input("Enter a number"))
big=a
if a<b:
	big=b
print("Biggest is : ",big)

Enter a number6
Enter a number8
Biggest is :  8

In [ ]:
#8.block_selection.py
required_amenities=[]
block_details=[{"School":True,"Gym":False,"Pool":False,"Hospital":True,"Store":False},]
amenities={"School":False,"Gym":False,"Pool":False,"Hospital":False,"Store":False}
print("Enter your requirements :(1-required/0-not required)")
for x in amenities.keys():
	k=int(input(x))
	if k==1:
		required_amenities.append(x)
print(required_amenities)

Enter your requirements :(1-required/0-not required)
School1
Gym1
Pool0
Hospital1
Store0
['School', 'Gym', 'Hospital']

In [ ]:
#8.calculatorelif.py
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division ")
print("5. Exponet")
choice=int(input("Enter your choice of operation :"))
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if choice==1:
	res=a+b
elif choice==2:
	res=a-b
elif choice==3:
	res=a*b
elif choice==4:
	res=a/b
elif choice==5:
	res=a**b
else:
	print("Invalid choice!!!")
print("The result is ",res)

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exponet
Enter your choice of operation :1
Enter a number5
Enter a number6
The result is  11

In [ ]:
#9.circularrightshift.py
a=[]
n=int(input("Enter no of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	elmnt=int(input())
	a.append(elmnt)
print(a)
b=[a[n-1]]+a[:n-1]
a=b
print(a)

Enter no of elements : 5
Enter the elements :
3
4
5
8
5
[3, 4, 5, 8, 5]
[5, 3, 4, 5, 8]

In [ ]:
#10.contactbook.py
print("1.Add a contact ")
print("2.Delete a contact")
print("3.Edit a contact ")
print("4.Search a contact")
print("5.List all contacts")
print("6.Exit")
contactbook={}
choice=int(input("Enter your choice "))
while choice!=6:
	if choice==1:
		name=input("Enter the name : ")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("1 contact added successfully")
	elif choice==2:
		name=input("enter the name of contact to delete :")
		contactbook.pop(name)
		print("1 contact deleted succefully")
	elif choice==3:
		name=input("enter the name of contact to edit :")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("contact edited successfully")
	elif choice==4:
		name=input("enter the name :")
		print("Phone Number of ",name," : ",contactbook[name])
	elif choice==5:
		print("Name\t\t Phone Number")
		for x,y in contactbook.items():
			print(x,"\t\t",y)
	else:
		print("Invalid choice !!!")
	choice=int(input("Enter your choice "))

1.Add a contact
2.Delete a contact
3.Edit a contact
4.Search a contact
5.List all contacts
6.Exit
Enter your choice 1
Enter the name : fr
Enter the phone number : 45
1 contact added successfully
Enter your choice 6

In [ ]:
#11.defaultarg.py
def simple_interest(p,n,r=0.25):
	i=p*r*n
	return i
i1=simple_interest(5000,6,0.3)
print("Interest ",i1)
i2=simple_interest(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
#12.defaultarg.py

def inrst(p,n,r=0.25):
  i=p*r*n
  return i
i1=inrst(5000,6,0.3)
print("Interest ",i1)
i2=inrst(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
#13.dicfunctions.py

bus={"Routeno":5,"Driver":"kiran","Cleaner":"Manu","points":["karamana","PMG","pattom"]}
print(bus["Driver"])
print(bus.get("Driver"))
print(bus.keys())
print(bus.values())
print(bus.items())

bus["color"]="Red"
print(bus)

bus.update({"Fare":1500})
print(bus)

bus["Driver"]="Mohan"
print(bus)

bus.pop("Fare")
print(bus)

bus.popitem()
print(bus)

del bus["Driver"]
print(bus)


for x in bus:
  print(x)

for x in bus:
  print(bus[x])

del bus
#bus.clear()

kiran
kiran
dict_keys(['Routeno', 'Driver', 'Cleaner', 'points'])
dict_values([5, 'kiran', 'Manu', ['karamana', 'PMG', 'pattom']])
dict_items([('Routeno', 5), ('Driver', 'kiran'), ('Cleaner', 'Manu'), ('points', ['karamana', 'PMG', 'pattom'])])
{'Routeno': 5, 'Driver': 'kiran', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red'}
{'Routeno': 5, 'Driver': 'kiran', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red', 'Fare': 1500}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red', 'Fare': 1500}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red'}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom']}
{'Routeno': 5, 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom']}
Routeno
Cleaner
points
5
Manu
['karamana', 'PMG', 'pattom']

In [ ]:
#14.dictionarydemo.py
contactlist={}
n=int(input("Enter the number of contacts : "))
for i in range(1,n+1):
	name=input("Enter the contact name :")
	phno=int(input("Enter the phone number :"))
	contactlist[name]=phno
print("Keys")
for x in contactlist.keys():
	print(x)
print("Values")
for x in contactlist.values():
	print(x)
print("Keys-value pairs")
for x,y in contactlist.items():
	print(x,"-",y)

Enter the number of contacts : 2
Enter the contact name :gh
Enter the phone number :788
Enter the contact name :jj
Enter the phone number :889
Keys
gh
jj
Values
788
889
Keys-value pairs
gh - 788
jj - 889

In [ ]:
#15.dictnumber.py
numberNames={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
positionvalues={0:'Ones',1:'Tens',2:'Humdreds',3:'Thousands',4:'Ten Thousands',5:'Lakhs',6:'Ten Lakhs',7:'Crore',8:'Ten Crores',9:'Hundred Crores'}
num=input("Enter any number")
result=''
l=len(num)-1
for ch in num:
	key=int(ch)
	value=numberNames[key]
	result=result + ' ' + value+' '+ positionvalues[l]
	l-=1
print("The number is : ",num)
print("The number Name is :",result)

Enter any number6
The number is :  6
The number Name is :  Six Ones

In [ ]:

#16.digitsumfun.py

def  digitsum(n):
	if n==0:
		return 0
	d=n%10
	s=d+digitsum(n//10)
	return s
no=int(input("Enter the number : "))
sum=digitsum(no)
print("sum of digits : ",sum)

Enter the number : 7
sum of digits :  7

In [ ]:
#17.divisiblesimpif.py
m=int(input("Enter a number : "))
n=int(input("Enter a number : "))
result="not divisible"
if(m%n==0):
	result="divisible"
print(m," is ",result," by ",n)

Enter a number : 6
Enter a number : 7
6  is  not divisible  by  7

In [ ]:
#18.ebillelif.py
u=int(input("Enter the number of units consumed : "))
if u<=100:
	amount=u*0.5
elif u>100 and u<=150:
	amount=(100*0.5)+(u-100)*0.75
elif u>150 and u<=200:
	amount=(100*0.5)+(50*0.75)+(u-150)*1
else:
	amount=(100*0.5)+(50*0.75)+(50*1)+(u-200)*2
print("Amount to be paid : ",amount)

Enter the number of units consumed : 69
Amount to be paid :  34.5

In [ ]:
#19.electrictybill_type.py
type=input("Enter the type of connection : ")
u=int(input("Enter the units consumed : "))
charge=0
if type=="domestic":
	if u<=100:
		charge=u*1
	elif u<150:
		charge=(100*1)+(u-100)*1.5
	elif u<=200:
		charge=(100*1)+(50*1.5)+(u-150)*2
	else:
		charge=(100*1)+(50*1.5)+(50*2)+(u-200)*3
elif type=="commercial":
	if u<=100:
		charge=u*3
	elif u<150:
		charge=(100*3)+(u-100)*4
	elif u<=200:
		charge=(100*3)+(50*4)+(u-150)*6
	else:
		charge=(100*3)+(50*4)+(50*6)+(u-200)*10
else:
	print("Invalid connection type ")
print("Tarriff	: ",charge)

Enter the type of connection : 69
Enter the units consumed : 78
Invalid connection type
Tarriff	:  0

In [ ]:
#20.factorialsum.py
def sum(n):
	if n==1:
		return 1
	s=n+sum(n-1)
	return s
no=int(input("Enter the number : "))
total=sum(no)
print("Sum  is : ",total)

Enter the number : 32
Sum  is :  528

In [ ]:
#21.fun_arbitoryarg.py
def my_function(*students):
	#print(type(students))
	for x in students:
		print(x)

my_function("Kiran", "Manu", "Vinu")
my_function(10,20,30,40,50)

Kiran
Manu
Vinu
10
20
30
40
50

In [ ]:
#22.fun_arbitoryarg1.py
def my_function(*formal):
  #print(type(formal))
  s=0
  for x in formal:
    s=s+x
  print("Sum is ",s)
my_function(10,20)
my_function(10,20,30,40,50)
my_function(10.2,15.5,26.3)

Sum is  30
Sum is  150
Sum is  52.0

In [ ]:
#23.functionarguments.py
def sum(*no):
	#print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
def add(p):
	print(p*6)
def avg(s):
	print(s/5)
sm=sum(10,20,30,40)
add(sm)
sm=sum(25,36,45,78,52)
avg(sm)

600
47.2

In [ ]:
#24.functioninterestdefault.py
def simple_interest(p,t,r=5):
	i=p*r*t/100
	return i
principle_amount=int(input("Enter the principle amount : "))
time_period=int(input("Enter the time duration : "))
rate_of_interest=int(input("Enter the rate of interest : "))
i1=simple_interest(principle_amount,time_period)
print("Interest : ",i1)
i2=simple_interest(principle_amount,time_period,rate_of_interest)
print("Interest : ",i2)

Enter the principle amount : 67
Enter the time duration : 2
Enter the rate of interest : 34
Interest :  6.7
Interest :  45.56

In [ ]:
#25.functionlist.py
def sum(no):
	#print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
a=[10,20,30,40]
print(sum(a))
b=(25,36,49,64)
print(sum(b))
c={25,50,75}
print(sum(c))

100
174
150

In [ ]:
#phone book
print("1.add contact")
print("2.search contact")
print("3.update contact")
#print("4.display contact")
print("4.delete contact")
print("5.exit")
phonebook={}
while(True):
  choice=int(input("enter the choice"))
  if choice==1:
    name=input("enter name:")
    phno=int(input("enter the phone number"))
    phonebook[name]=phno
    print("sucessfully added contact")
  elif choice==2:
     name=input("enter name:")
     print("phone number of is",name,":",phonebook[name])
  elif choice==3:
    name=input("enter name:")
    phno=int(input("enter the phone number"))
    phonebook[name]=phno
    print("the phno of",name,":",phonebook[name])
  elif choice==4:
    name=input("enter name:")
    phonebook.pop(name)
    print("delete sucessfully")
  elif choice==5:
    break

1.add contact
2.search contact
3.update contact
4.display contact
5.delete contact
6.exit
sucessfully added contact
phone number of is greeshma : 6778
the phno of greeshma : 67888
delete sucessfully

In [ ]:
#phone book
contact={}

def add():
    contact[name]=phone

def search():
    search_name=input("enter the searchname :")
    if search_name in contact:
        print(search_name,"yes contact number is :",contact[search_name])
    else:
            print("sorry name is in valid")

def edit():
    edit_contact=input("enter the edit contact :")
    if edit_contact in contact:
            phone=input("enter the mobile number")
            contact[edit_contact]=phone
            print("contact updated")
    else :
            print("Name is not found")

def display():
     print("NAME \t\t\t\t CONTACT NUMBER")
     for x in contact:
        print("{}\t\t\t\t{}".format(x,contact.get(x)))

def dele():
    del_contact=input("enter the delete contact name :")
    if del_contact in contact:
            confirm=input("do you want to delete contact y / n :")
            if confirm=="Y" or confirm=="y":
                contact.pop(del_contact)
            else:
                print("name is not found")


while True:
    choice=int(input("1.addcontact \n 2.Search contact \n 3.Display contact \n 4.Edit contact \n 5.delete contact \n 6.exit "))

    if choice==1:
        name=input("enter the name :")
        phone=input(("enter the phone number"))
        add()

    elif choice==2:
        search()

    elif choice==3:
        display()
        print("display contact as soon as possibile")

    elif choice==4:
         edit()


    elif choice ==5:
         dele()

    else:
        break

1.addcontact
 2.Search contact
 3.Display contact
 4.Edit contact
 5.delete contact
 6.exit 1
enter the name :greeshma
enter the phone number567
1.addcontact
 2.Search contact
 3.Display contact
 4.Edit contact
 5.delete contact
 6.exit 6

In [ ]:
#1.gradeelif.py
m1=int(input("enter the mark of physcics"))
m2=int(input("enter the mark of chemistry"))
m3=int(input("enter the mark of maths"))
p=m1+m2+m3*100/300
if p>=90:
  grade="A+"
elif p<90 and p>=80:
	grade="A"
elif p<80 and p>=70:
	grade="B+"
elif p<70 and p>=60:
	grade="B"
elif p<60 and p>=50:
	grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

enter the mark of physcics67
enter the mark of chemistry89
enter the mark of maths69
His grade is  A+

In [ ]:
#1 using function
def cal_grade(m1,m2,m3):
  p=m1+m2+m3*100/300
  if p>=90:
    grade="A+"
  elif 80<= p<90:
    grade="A"
  elif 70<= p<80:
    grade="B+"
  elif 60<= p<70:
    grade="B"
  elif 50<=p<60:
    grade="C"
  else:
    grade="failed"
  return grade
m1=int(input("enter the mark of physics:"))
m2=int(input("enter mark of chemistry:"))
m3=int(input("enter mark of mathematics:"))
result=cal_grade(m1,m2,m3)
print("the grade is",result)

enter the mark of physics:10
enter mark of chemistry:13
enter mark of mathematics:13
the grade is failed

In [ ]:
#2.gradenestedif.py
m1=int(input("Enter the marks for physics"))
m2=int(input("Enter the marks for chemistry"))
m3=int(input("Enter the marks for maths"))
if m1>=50 and m2>=50 and m3>=50:
	p=(m1+m2+m3)*100/300
	if p>=90:
		grade="A+"
	elif p<90 and p>=80:
		grade="A"
	elif p<80 and p>=70:
		grade="B+"
	elif p<70 and p>=60:
		grade="B"
	else:
		grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics60
Enter the marks for chemistry89
Enter the marks for maths90
His grade is  B+

In [ ]:
#3.interestifelse.py
p=int(input("enter the principle amount"))
n=int(input("enter the year"))
if n>=10:
  r=12
else:
  r=8
i=p*r*n/100
print("intrest=",i)

enter the principle amount69000
enter the year10
intrest= 82800.0

In [ ]:
#3using function
def intrest_cal(p,n,r):
  if n>=10:
    r=12
  else:
    r=8
  i=p*r*n
  return i
p=int(input("enter the principal amount"))
n=int(input("enter the year"))
intrest=intrest_cal(p,n,r)
print("intrest=",intrest)

enter the principal amount69000
enter the year10
intrest= 8280000

In [ ]:
#4.keywordarg.py
def add(a,b,c):
  return(a+b+c)
s=add(20,25,36)
print("Sum is ",s)

Sum is  81

In [ ]:
#5.list.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
4
6
5
9
1
7
List elements are :
4
6
5
9
1
7

In [ ]:
#6.listbig.py
a=[]
n=int(input("enter number of elements"))
print("the elements are")
for i in range(0,n):
  k=int(input())
  a.append(k)
big=a[0]
for i in range(1,n):
  if a[i]>big:
    big=a[i]
print("biggest",big)

enter number of elements5
the elements are
3
4
5
6
7
biggest 7

In [ ]:
#7.listbinarysearch.py
a=[]
n=int(input("enter the number of elements"))
print("enter the elements ascending order")
for i in range(0,n):
  k=int(input())
  a.append(k)
key=int(input("Enter the element to search : "))
l=0
u=n-1
while l<=u:
	mid=(l+u)//2
	if a[mid]==key:
		print(key,"found at index ",mid)
		break
	elif a[mid]>key:
		u=mid-1
	else:
		l=mid+1
else:
	print(key,"not in the list ")

enter the number of elements6
enter the elements ascending order
1
2
3
4
5
6
Enter the element to search : 3
3 found at index  2

In [ ]:
#8.listcompr.py
a=[10,20,30,40]
b=[10,20,30,50]
if a==b:
	print("ok")
else:
	print("not ok")

not ok

In [ ]:
#9.listcount.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
count=0
ele=int(input("Enter the element to count : "))
for x in a:
	if x==ele:
		count+=1
print(ele," occured ",count," times")

Enter the number of elements : 4
Enter the elements :
1
3
1
3
Enter the element to count : 1
1  occured  2  times

In [ ]:
#10.listdelete.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
for i in range(index,n-1):
	a[i]=a[i+1]
n=n-1
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
4
6
3
1
3
8
Enter the index : 1
List elements are :
4
3
1
3
8

In [ ]:
#11.listduplicate.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
i=0
while i<n-1:
	j=i+1
	while j<n:
		if a[i]==a[j]:
			a.pop(j)
			n=n-1
		else:
			j+=1
	i+=1
print(a)

Enter the number of elements : 3
Enter the elements :
1
2
1
[1, 2]

In [ ]:
#12.listduplicateset.py
a=[]
n=int(input("Enter the number of elements : "))
for i in range(0,n):
	k=int(input())
	a.append(k)
b=set(a)
a=list(b)
print(a)

Enter the number of elements : 3
1
2
1
[1, 2]

In [ ]:
#13.listelementcount.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
no=int(input("Enter the element to count : "))
count=0
for i in range(0,n):
	if a[i]==no:
		count+=1
if count==0:
	print(no," not in the list")
else:
	print(no," occured ",count," times")

Enter the number of elements : 4
Enter the elements :
2
3
1
4
Enter the element to count : 5
5  not in the list

In [ ]:
#14.listeven.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n):
	if a[i]%2==0:
		print(a[i])

Enter the number of elements : 4
Enter the elements :
1
2
3
4
2
4

In [ ]:
#15.listevensum.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2==0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 5
Enter the elements :
1
2
3
4
6
sum is :  12

In [ ]:
#16.listinsert.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
a.append(0)
element=int(input("Enter the element to insert"))
index=int(input("Enter the index : "))
for i in range(n,index,-1):
	a[i]=a[i-1]
a[index]=element
print("List elements are : ")
for i in range(0,n+1):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
3
4
5
5
Enter the element to insert1
Enter the index : 3
List elements are :
3
4
5
1
5

In [ ]:
#17.listinsertfun.py
a=[10,20,30,40,50,60,70]
b=[41,42,43]
a.insert(4,b)
print(a)
a.insert(6,65)
print(a)
print(len(a))

[10, 20, 30, 40, [41, 42, 43], 50, 60, 70]
[10, 20, 30, 40, [41, 42, 43], 50, 65, 60, 70]
9

In [ ]:
#18.listinsertlist.py
a=[]
n= int(input("Enter the number of elements in first list: "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
b=[]
m= int(input("Enter the number of elements in second list : "))
print("Enter the elements : ")
for i in range(0,m):
	k=int(input())
	b.append(k)
	a.append(0)
index=int(input("Enter the index : "))
for i in range(n-1,index-1,-1):
	a[i+m]=a[i]
for i in range(0,m):
	a[index+i]=b[i]
print("List elements are : ")
for i in range(0,m+n):
	print(a[i])

Enter the number of elements in first list: 4
Enter the elements :
4
5
6
7
Enter the number of elements in second list : 3
Enter the elements :
3
5
8
Enter the index : 2
List elements are :
4
5
3
5
8
6
7

In [ ]:
#19.listndelete.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
dn=int(input("Enter the number of elements to be deleted : "))
for i in range(index+dn,n):
	a[i-dn]=a[i]
n=n-dn
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
4
5
7
9
1
5
Enter the index : 2
Enter the number of elements to be deleted : 5
List elements are :
4

In [ ]:
#20.listoddeven.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])
odd=[]
even=[]
for i in range(0,n):
	if a[i]%2==0:
		even.append(a[i])
	else:
		odd.append(a[i])
print("EVEN LIST")
for x in even:
	print(x)
print("ODD LIST")
for x in odd:
	print(x)

Enter the number of elements : 4
Enter the elements :
3
5
6
2
List elements are :
3
5
6
2
EVEN LIST
6
2
ODD LIST
3
5

In [ ]:
#21
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2!=0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 4
Enter the elements :
4
6
2
1
sum is :  1

In [ ]:
#22.listprime.py
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("prime numbers are : ")
for i in range(0,n):
	if a[i]==1:
		continue
	for j in range(2,a[i]):
		if a[i]%j==0:
			break
	else:
		print(a[i])

Enter the number of elements : 4
Enter the elements :
2
1
5
8
prime numbers are :
2

In [ ]:
#23.listreverse.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n//2):
	t=a[i]
	a[i]=a[n-i-1]
	a[n-i-1]=t
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 3
Enter the elements :
1
2
5
List elements are :
5
2
1

In [ ]:
#24.listsecbig.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
i=0
while (1):
	if a[i]!=big:
		sbig=a[i]
		break
	i+=1
for i in range(i+1,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Biggest : ",big)
print("2nd Biggest : ",sbig)

Enter the number of elements : 3
Enter the elements :
2
1
4
Biggest :  4
2nd Biggest :  2

In [ ]:
#25.nesteddict.py
student1={"name":"arfan","place":"Manacaud","Blood Group":"O+"}

student2={"name":"Jovan","place":"Kollam","Blood Group":"O+"}

student3={"name":"Divya","place":"palayam","Blood Group":"A+"}

oneteam={"intern1":student1,"intern2":student2,"intern3":student3}
#or

#oneteam={"intern1":{"name":"arfan","place":"Manacaud","Blood Group":"O+"},"intern2":{"name":"Jovan","place":"Kollam","Blood Group":"O+"},"intern3":{"name":"Divya","place":"palayam","Blood Group":"A+"}}'''

In [ ]:
#1.palindromefun.py
def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
no=int(input("Enter a number : "))
r=reverse(no)
if no==r:
	print("Palindrome")
else:
	print("Not a palindrome")

Enter a number : 34
Not a palindrome

In [ ]:
#2.quadeqifelse.py
a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
if x>=0:
	print("Roots are real")
else:
	print("Roots are Imaginary")

Enter the coefficient of x^2 term : 2
Enter the coefficient of x term : 2
Enter the constant term : 2
Roots are Imaginary

In [ ]:
#3.quadeqsimif.py
a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
roots="Imaginary"
if x>=0:
	roots="Real"
print("Roots are ",roots)

Enter the coefficient of x^2 term : 2
Enter the coefficient of x term : 2
Enter the constant term : 2
Roots are  Imaginary

In [ ]:
#4.reversefun.py
def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
n=int(input("Enter a number : "))
#r=reverse(n)
print("Reverse of ",n," is ",reverse(n))

Enter a number : 23
Reverse of  23  is  32

In [ ]:
#5.righttriangle.py
a=int(input("Enter the measurement of 1st side"))
b=int(input("Enter the measurement of 2nd side"))
c=int(input("Enter the measurement of 3rd side"))
if a**2==b**2+c**2 or b**2==a**2+c**2 or c**2==a**2+b**2:
  print("Right traingle")
else:
	print("Not a right triangle")

Enter the measurement of 1st side4
Enter the measurement of 2nd side6
Enter the measurement of 3rd side6
Not a right triangle

In [ ]:
#6.amstrong.py
n=input("Enter a number : ")
l=len(n)
n=int(n)
s=0
t=n
while n!=0:
	d=n%10
	s=s+d**l
	n=n//10
if t==s:
	print("Amstrong")
else:
	print("Not an amstrong")

Enter a number : 23
Not an amstrong

In [ ]:
#7.b2d.py
b=int(input("Enter the binary number : "))
d=0
i=0
while b!=0:
	dig=b%10
	d=d+(dig*(2**i))
	i=i+1
	b=b//10
print("Decimal equalent is ",d)

Enter the binary number : 4
Decimal equalent is  4

In [ ]:
#8.bigdigit.py
n=int(input("Enter a number : "))
bd=0
while n!=0:
	d=n%10
	if d>bd:
		bd=d
	n=n//10
print("greatest digit ",bd)

Enter a number : 5
greatest digit  5

In [ ]:
#9.factorssumfor.py
n=int(input("Enter the number : "))
s=0
for i in range(1,n+1):
	if n%i==0:
		s=s+i
print("Sum is ",s)

Enter the number : 5
Sum is  6

In [ ]:
#10.sumsingledigit.py
n=int(input("Enter a number : "))
s=sum(int(i) for i in str(n))
print("Single digit sum = ",s%9 if s%9 else 9)

Enter a number : 5
Single digit sum =  5

In [ ]:
#11.sumoddwhile.py
n=int(input("Enter the limit "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+2
print("Sum is ",s)

Enter the limit 5
Sum is  9

In [ ]:
#12.sumnaturalfor.py
n=int(input("Enter the limit"))
s=0
for x in range(1,n+1):
	s=s+x
print("Sum is ",s)

Enter the limit5
Sum is  15

In [ ]:
#13.sumnaturalwhile.py
n=int(input("Enter the limit : "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+1
print("Sum is ",s)

Enter the limit : 4
Sum is  10

In [ ]:
#14.strongnumber.py
n=int(input("Enter a number"))
temp=n
sum=0
while n!=0:
	d=n%10
	fact=1
	while d>1:
		fact*=d
		d-=1
	sum+=fact
	n=n//10
if sum==temp:
	print("Strong number")
else:
	print("Not a strong number")

Enter a number5
Not a strong number

In [ ]:
#15.spynumber.py
n=int(input("Enter a number"))
sum=0
product=1
while n!=0:
	d=n%10
	sum+=d
	product*=d
	n=n//10
if sum==product:
	print("Spy Number")
else:
	print("Not a spy number")

Enter a number5
Spy Number

In [ ]:
#factorial using recursion
def factorial(x):
  if x==1:
    return 1
  else:
    return (x*factorial(x-1))
num=3
print("the factorial of",num,"is",factorial(num))

the factorial of 3 is 6

In [ ]:
def calculate_net_salary(name, gross_salary):
    pension = gross_salary * 0.12
    if gross_salary <= 600:
        net_salary = gross_salary - pension
    elif 601 <= gross_salary <= 1650:
        net_salary = gross_salary - 60 - pension
    elif 1651 <= gross_salary <= 3200:
        net_salary = gross_salary - 142 - pension
    elif 3201 <= gross_salary <= 5250:
        net_salary = gross_salary - 303 - pension
    elif 5251 <= gross_salary <= 7800:
        net_salary = gross_salary - 565 - pension
    elif 7801 <= gross_salary <= 10900:
        net_salary = gross_salary - 955 - pension
    elif gross_salary >= 10901:
        net_salary = gross_salary - 1500 - pension
    else:
        print("Invalid Entry")
        return None
    return name, gross_salary, pension, net_salary
employee_name = input("Employee Name:")
employee_gross_salary = int(input("Please state your gross salary:"))
result = calculate_net_salary(employee_name, employee_gross_salary)
if result:
    name, gross_salary, pension, net_salary = result
    print("Name:",name)
    print("Gross Salary:",gross_salary)
    print("Pension:",pension)
    print("Net Salary:",net_salary)

Employee Name:greeshma
Please state your gross salary:20000
Name: greeshma
Gross Salary: 20000
Pension: 2400.0
Net Salary: 16100.0